{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<body>

<!-- Show Fruits table -->
<h2>Déclarer une vente</h2>
<table>
    <tr>
        <th>Nom du Produit</th>
        <th>Quantité en Stock</th>
        <th>Déclarer une vente</th>
    </tr>
    {% for fruit in fruits %}
        <tr>
            <td>{{ fruit[1] }}</td>
            <td>{{ fruit[2] }}</td>
            <td>
                <form action="/nouvelle_vente" method="post" class="reserverform">
                    <input type="hidden" name="product_id" value="{{ fruit[0] }}">
                    <input type="number" name="quantity" min="1" max="{{ fruit[2] }}" required>
                    <button type="submit" class="reserverbutton">Déclarer une vente</button>
                </form>
            </td>
        </tr>
        {% if sales and loop.last %}
        <tr>
            <td colspan="3">
                <p>{{ sales }}</p>
            </td>
        </tr>
        {% endif %}
    {% endfor %}

    {% for legume in legumes %}
        <tr>
            <td>{{ legume[1] }}</td>
            <td>{{ legume[2] }}</td>
            <td>
                <form action="/nouvelle_vente" method="post" class="reserverform">
                    <input type="hidden" name="product_id" value="{{ legume[0] }}">
                    <input type="number" name="quantity" min="1" max="{{ legume[2] }}" required>
                    <button type="submit" class="reserverbutton">Déclarer une vente</button>
                </form>
            </td>
        </tr>
        {% if sales and loop.last %}
        <tr>
            <td colspan="3">
                <p>{{ sales }}</p>
            </td>
        </tr>
        {% endif %}
    {% endfor %}

    {% for produitExterne in produitsExternes %}
        <tr>
            <td>{{ produitExterne[1] }}</td>
            <td>{{ produitExterne[2] }}</td>
            <td>
                <form action="/nouvelle_vente" method="post" class="reserverform">
                    <input type="hidden" name="product_id" value="{{ produitExterne[0] }}">
                    <input type="number" name="quantity" min="1" max="{{ produitExterne[2] }}" required>
                    <button type="submit" class="reserverbutton">Déclarer une vente</button>
                </form>
            </td>
        </tr>
        {% if sales and loop.last %}
        <tr>
            <td colspan="3">
                <p>{{ sales }}</p>
            </td>
        </tr>
        {% endif %}
    {% endfor %}


</table>

<!-- Similar blocks for Legumes and Produits_Externes tables -->

</body>
</html>
{% endblock %}
